html {
  font-family: Helvetica;
  display: inline-block;
  margin: 0px auto;
  text-align: center;
}

button {
  border: none;
  border-radius: 7px;
  color: white;
  padding: 10px 40px;
  text-decoration: none;
  font-size: 20px;
  margin: 2px;
  cursor: pointer;
}

button.on {
  background-color: #4CAF50;
}

button.off {
  background-color: #888;
}

#picker {
  width: 320px;
  margin: 30px auto;
}
